# OS
.DS_Store
Thumbs.db
uv.lock

# folders
/benchmark
/other_trackers
/prompts
/tracker_testing

.prompts/
.claude/
.ipynb_checkpoints/

# Python
__pycache__/
*.py[codz]
*.so

# Other files
*.md
!README.md
*.slp
*.sh

